{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Weather App</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Get Weather Of Any City
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">


                    <form action="/weather/weAdd/" method="POST">
                    {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" placeholder="City Name"  name="newcity">
                            </div>
                            <div class="control">
                                <input type="submit" class="button is-info" value="Add City">   
                            </div>
                        </div>
                        {% if message %}
                            <div class="notification {{message_class}}">{{message}}</div>
                            <div>
                                <a href="/weather/weView/" >view city</a>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>



    <section class="section">
        <div class="container">
            <div class="columns">
            {% for c in cit %}
                <div class="column is-offset-4 is-4">
                
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{c.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{c.city}}</span>
                                        <br>
                                        <span class="subtitle">{{c.temperature}} C</span>
                                        <br> {{c.description}}
                                    </p>
                                </div>
                            </div>

                        <form action="/weather/weDelete/{{c.id}}" method="POST">
                                {% csrf_token %}
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="submit" class="button is-info" value="Delete City">   
                                </div>
                            </div>
                        </form>


                        </article>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>


    <footer class="footer">
    </footer>
</body>

</html>

